/* NAVBAR */
.header{
    position: absolute;
    width: 100%;
    z-index: 100;
}

.navbar-brand{
    cursor: default;
}
nav{
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

/* HOME */
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* BUTTON */
.btn-login{
    background-color: rgb(252, 17, 158);
    border-radius: 0.7em;
}
.btn-login:hover{
    background-color: rgb(178, 16, 113);
}
.btn-signup{
    background-color: rgb(40, 227, 234);
}
.btn-signup:hover{
    background-color: rgb(31, 169, 174);
}
/* PANEL */
.panel{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
@media (min-width: 1500px){
    .panel {
        flex: 0 0 auto;
        width: 25%!important;
    }
}
@media (max-width: 400px){
    .panel {
        margin-top: 35px;
        font-size: 0.7em;
    }
    .inputMargin{
        margin: 2px 0!important;
    }
    .form-control, .form-select{
        height: 2em;
    }
}


/* PANEL ELEMENTS */
.sector{
    text-align: left;
    background-color: rgba(215, 215, 215, 0.667);
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    display: flex;

}
.inputMargin{
    margin: 5px 0;
}
.form-align{
    display: flex;
    width: 100%;
    align-items: baseline;
}

/* ICONS */
i{
    padding-right: 10px;
    width: 100%;
    max-width: 27px;
}

